%h1
  Select your favorite coin

= form_with model: @portfolio do |form|
  %div
    = form.label :symbol
    %br/
    = form.select :symbol, @cryptos.sort
  
  -# %div
  -#   = form.label :amount
  -#   %br/
  -#   = form.text_field :amount, value: @amt

  %div
    = form.submit "Add to favorites"